.avata{
	
}
#user {
	background-color: white;
	border-radius: 10px; 
}
.list-group-item {
	border:none;
}
.img-responsive {

    padding-top: 20%;
}
.ten {
	padding-top: 10%;
}
.label2 {
	margin-top: 20px;
}
.form-horizontal .control-label {
	text-align: left;
}
#tt {
	text-align: center;
}
.form-control{
	width: 70%;
}
.col-sm-9{
	text-align: center;
}
.col-sm-offset-6 {
    margin-left: 40%;
}